<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <H1>Конструктор квизов</H1>
<link rel="stylesheet" href="css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
  <body>
   <div class="login-button-container">
       <a class="register-link" href="http://127.0.0.1:8000/users/">Register</a>
    <a class="login-link" href="http://127.0.0.1:8000/api/v1/Myquize-auth/login/">Login</a>
   </div>
    <table id="quiz-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>question</th>
          <th>answer_1</th>
          <th>answer_2</th>
          <th>answer_3</th>
          <th>answer_correct</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <script src="js/scripts.js"></script>
  </body>
</html>
